.relative {
   background: #FFFFFF;
   height: 100px;
   width: 300px;
   position: relative;
   top: 20px;
   left: 45px;
}
.absolute {
 background: #FFFFFF;
 height: 50px;
 width: 120px;
 position: absolute;
 top: 35px;
 right: 32px;
}
.fixed {
 background: #FFFFFF;
 height: 50px;
 width: 300px;
 position: fixed;
 bottom: 60px;
 right: 32px;
}