<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Página-Inicial.css" media="screen">
    <meta name="theme-color" content="#478ac9">
    <link href="estilo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
  <body  style="background-color: #202025">
  <div class="flex-start" height="0">
      <div class="chat-window" height="0">
          <div style="background-image: url(https://codesistemas.com.br/imagens/body/banner3.jpg)">

              <h1 style="color: #202025" class="relative"> <br><br><br><br>Sistema Empresarial<br><br></h1>

          </div>
      </div>
        <div class="chat-window">

          <h1 style="color: #bbbbbb" class="relative"><br>O que são sistemas empresariais</h1>

      </div>
      <div style="background-color: #bbbbbb" class="flex-container">

          <h4 style="color: #202025" class="flex-container">
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br><br>
          </h4>

      </div>
      <div class="chat-window">

          <h1 style="color: #bbbbbb" class="relative"><br>Principais tipos de sistemas</h1>

      </div>
      <div style="background-color: #bbbbbb" class="flex-container">

          <h4 style="color: #202025" class="flex-container">
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br><br>
          </h4>

      </div>
      <div class="chat-window">

          <h1 style="color: #bbbbbb" class="relative"><br>Quais benefícios os sistemas empresariais trazem a uma empresa</h1>

      </div>
      <div style="background-color: #bbbbbb" id="container">

          <h4 style="color: #202025">
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
              Conteudo  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br><br>
          </h4>
                <h4 style="color: #202025">
                Conteudo4  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
                Conteudo4  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
                Conteudo4  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br>
                Conteudo4  Conteudo  Conteudo  Conteudo  Conteudo  Conteudo<br><br>
                </h4>
      </div>
      <div class="chat-window">
          <h1 style="color: #bbbbbb" class="relative"><br><br>Roda-pé<br><br><br></h1>

      </div>

  </div>
</body>
</html>